/* @import url(icon.css); */

*,
html {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  box-sizing: border-box;
  overflow: hidden;
}
*::selection {
  background-color: #5faa;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  background: url(./地球86.jpg) center center no-repeat;
  background-size: cover;
}
#blur {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
main {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 4px 4px 10px #e8baf0; */
  width: 20rem;
  background-color: #8882;
  backdrop-filter: blur(3px);
}

main > .card_name {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(
    145deg,
    rgb(236, 58, 88),
    rgb(243, 39, 199),
    rgb(225, 97, 245),
    rgb(84, 57, 240)
  );
  /* animation: liuguang 5s ease 0s infinite forwards; */
  width: 100%;
  padding: 1rem 0;
  color: #efefef;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: #e5e5e5 2px 3px 5px, #e1e1e1 -2px -3px 5px;
  text-transform: capitalize;
}

main > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 1px #ccc;
  width: 100%;
  padding-top: 30px;
}
main > form > :nth-child(n) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 10px;
  margin: 0 6px;
}
form > :nth-child(n) > label {
  color: #fff;
  font-size: 1rem;
  text-shadow: #555 1px 1px 2px, #777 -1px -1px 2px;
  letter-spacing: 0.2rem;
}
form > :nth-child(n) > input {
  width: 60%;
  font-size: 18px;
  border: none;
  /* border-bottom: solid 2px #eee; */
  letter-spacing: 4px;
  padding: 5px 12px;
  margin-left: 7px;
  background-color: #5551;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  color: #eee;
}
form > :nth-child(n) > input:focus {
  outline: none;
  background-color: #5551;
}
form > :nth-child(n) > input::placeholder {
  font-size: 0.8em;
  color: #555;
}
form > :nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}
form > :nth-child(3) > input {
  color: #eee;
  font-size: 1rem;
  background-color: #44d;
  margin: 0px 30px 10px;
  border: none;
  padding: 5px 10px;
  width: 170px;
  border-radius: 50px;
  text-shadow: #dedede 2px 2px 5px, #dedede -2px -2px 5px;
  letter-spacing: 0.4rem;
}
form > :nth-child(3) > input:hover {
  background-color: #67f;
  color: #fff;
  transition: 0.5s;
}
form > :nth-child(3) > input:visited {
  background-color: #d46;
  color: #fff;
  transition: 0.5s;
}
.card_footer {
  width: 100%;
  background-color: #ddd;
}
.card_footer > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 3px;
}
.card_footer > ul > li {
  list-style-type: none;
}
.card_footer > ul > :last-child {
  margin-right: 15px;
}
.card_footer > ul > li > :nth-child(n) {
  padding: 4px 10px;
}
.card_footer > ul > li > :nth-child(n) > a {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #999;
}
.card_footer > ul > li > :nth-child(n) > a:hover {
  /* font-weight: 600; */
  color: #555;
}
